@font-face {
  font-family: 'YomogiRegular';
  src: url(~src/assets/fonts/Yomogi-Regular.ttf)
}

@font-face {
  font-family: 'TourneyRegular';
  src: url(~src/assets/fonts/Tourney-Regular.ttf)
}

@font-face {
  font-family: 'ShadowsIntoLightRegular';
  src: url(~src/assets/fonts/ShadowsIntoLight-Regular.ttf)
}

@font-face {
  font-family: 'MochiyPopPOne-Regular';
  src: url(~src/assets/fonts/MochiyPopPOne-Regular.ttf);
}
